* {
    box-sizing: border-box;
}
:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ==============Common============== */
a {
    text-decoration: none;
    color: #171100;
}
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    background: #171100;
    border-radius: 999px;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #171100;
}
.heading.lv1 {
    font-size: 5.7rem;
    line-height: 1.17;
}
.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.break-all {
    word-break: break-all;
}
/* ==============Header============== */
.header {
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 999;
}
.header .body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0 8px;
}
.header .nav {
    margin-left: auto;
}
.header .nav ul {
    display: flex;
}
.header .nav .active {
    position: relative;
    bottom: 0;
}
.header .nav .active a::after {
    position: absolute;
    bottom: 0;
    left: 22px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}
.header .nav a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
    padding: 8px 21px;
}
.header .active a:first-child,
.header .nav a:hover {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}
.header .action a {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    color: #ffffff;
}
.btn-register {
    min-width: 144px;
}
.header .action {
    margin-left: 49px;
}
/* ==============Hero============== */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}
/* Left */
.hero .media-block {
    position: relative;
    width: 48%;
}
.hero .media-block .img {
    border-radius: 20px;
    width: 470px;
    height: 685px;
    object-fit: cover;
    vertical-align: bottom;
}
.hero-summary {
    position: absolute;
    display: inline-block;
    bottom: 48px;
    right: 0;
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}
.hero-summary .item {
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.hero-summary .item:first-child {
    margin-top: 0;
}
.hero-summary .icon {
    background-color: var(--bg-orion);
    padding: 12px;
    border-radius: 50%;
    margin-right: 16px;
}
.hero-summary .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.hero-summary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* Right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}
.hero-cta {
    min-width: 180px;
    background: var(--primary-color);
    line-height: 64px;
}
.hero .content-block .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: #fffcf4;
    cursor: pointer;
}
.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 0em;
    color: #171100;
}
.hero .stats {
    margin: 8px 0 0 -28px;
}
/* ==============Popular============== */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}
.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}
.popular .popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular .popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.popular .popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}
/* course-list */
.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}
.popular .course-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}
.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
    height: 278px;
    width: calc(100% + 2px);
    margin: -1px;
    object-fit: cover;
}
.course-item .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.popular .course-item .info {
    padding: 16px 22px 22px;
}
.popular .course-item .info .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .course-item .rating {
    gap: 6px;
}
.popular .course-item .rating span {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--primary-color);
}
.popular .course-item .info .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.popular .course-item .foot {
    margin-top: 12px;
}
.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.course-item .foot .book-btn {
    border: none;
}
.course-item .foot .book-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
/* ==============Feedback============== */
.feedback {
    margin-top: 200px;
    padding: 96px 0;
    background: #2e2100;
}
.feedback .feedback-list{
    display: flex;
    overflow: hidden;
}
.feedback .feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-between;
}
.feedback-item .info img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}
.feedback-item .info .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}
.feedback .dots {
    display: flex;
    margin-top: 28px;
}
.feedback .dot {
    width: 6px;
    height: 6px;
    margin-right: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.feedback .dot.active{
    background: #FFB900;
    cursor: default;
}
.feedback-item .content {
    width: 66%;
}
.feedback-item blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
